body{
    background-color: rebeccapurple;
}

p{
    background-color: aquamarine;

}

a{
    background-color: rgb(252, 0, 0);
}
div{
    background-color: yellow;
}

span{
    background-color: rgb(227, 104, 215);
}